/*
/////
/////
/////
///// Cuerpo del HTML (BODY)
/////
/////
/////
*/
body{
  background: #FFF;
}

.button-error{
  background-color: rgb(255, 2, 2);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
}

h1{
  padding-top: 100px;
  font-family: 'Playfair Display Black Italic',arial;
  font-size: 40px;
}

p{
  font-size: 20px;
  font-weight: bolder;
}

.Imagen-error{
  width: 100%;
  height: auto;
}


