<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Controlador_Usuario</servlet-name>
        <servlet-class>Controlador.Controlador_Usuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador_Login</servlet-name>
        <servlet-class>Controlador.Controlador_Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Guardar</servlet-name>
        <servlet-class>Controlador.Guardar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador_Rol</servlet-name>
        <servlet-class>Controlador.Controlador_Rol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador_Fidelizacion</servlet-name>
        <servlet-class>Controlador.Controlador_Fidelizacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador_Cliente</servlet-name>
        <servlet-class>Controlador.Controlador_Cliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador_Categoria</servlet-name>
        <servlet-class>Controlador.Controlador_Categoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador_Recibo</servlet-name>
        <servlet-class>Controlador.Controlador_Recibo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador_Vendedor</servlet-name>
        <servlet-class>Controlador.Controlador_Vendedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador_Inventario</servlet-name>
        <servlet-class>Controlador.Controlador_Inventario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador_Proveedor</servlet-name>
        <servlet-class>Controlador.Controlador_Proveedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador_Producto</servlet-name>
        <servlet-class>Controlador.Controlador_Producto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controlador_Usuario</servlet-name>
        <url-pattern>/Controlador_Usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador_Login</servlet-name>
        <url-pattern>/Sesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Guardar</servlet-name>
        <url-pattern>/Guardar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador_Rol</servlet-name>
        <url-pattern>/Controlador_Rol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador_Fidelizacion</servlet-name>
        <url-pattern>/Controlador_Fidelizacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador_Cliente</servlet-name>
        <url-pattern>/Controlador_Cliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador_Categoria</servlet-name>
        <url-pattern>/Controlador_Categoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador_Recibo</servlet-name>
        <url-pattern>/Controlador_Recibo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador_Vendedor</servlet-name>
        <url-pattern>/Controlador_Vendedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador_Inventario</servlet-name>
        <url-pattern>/Controlador_Inventario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador_Proveedor</servlet-name>
        <url-pattern>/Controlador_Proveedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador_Producto</servlet-name>
        <url-pattern>/Controlador_Producto</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
